@import "../../../vars";

.uploader {
  position: fixed;
  bottom: 80px;
  right: 15px;
  display: flex;
  background: $blue;
  color: $white;
  border-radius: 25px;
  z-index: 2;

  &__showBtn {
    @extend %main-icon;

    .uploader-pic {
      width: 25px;
      height: 25px;
    }
  }

  form {
    width: 330px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
