@import "../../../vars";

.filtration {
  order: 1;
  grid-area: f;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: max-content max-content;
  grid-template-areas: "st vd pc sb" "sr ad tx sb";
  font-size: 20px;
  background: $blue;
  color: $white;
  padding: 15px;
  line-height: 1.5;
  border-radius: 10px;
  justify-self: center;
  margin-bottom: 30px;
  grid-gap: 10px;
  align-self: start;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .sort {
    grid-area: st;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    outline: none;
    background: $white;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
  }

  .search {
    display: flex;
    position: relative;
    flex-direction: column;
    grid-area: sr;

    input {
      padding: 5px 10px;
      font-size: 14px;
      border: none;
      border-radius: 15px;
    }

    .search-btn {
      position: absolute;
      right: 8px;
      z-index: 3;
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:hover {
        path {
          fill: $blue;
        }
      }

      path {
        fill: $grey;
      }
    }
  }

  .filtration__item {
    grid-area: fi;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: end;

    label {
      @extend %unchooseable;
      margin-left: 5px;
      cursor: pointer;

      &:hover {
        color: $red;
      }
    }
  }

  #submit {
    @extend %btn;
    font-size: 14px;
    padding: 10px;
    align-self: end;
    justify-self: center;
    grid-area: sb;
    border-radius: 5px;
  }
}

@media (max-width: 480px) {
  .filtration {
    grid-template-columns: max-content;
    grid-template-rows: repeat(7, max-content);
    grid-template-areas: "st" "sr" "vd" "pc" "ad" "tx" "sb";
  }
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .filtration {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 200px;
    margin-bottom: 100px;
  }
}
