@import "../../vars";

.header {
  &__slider-state-btn {
    @extend %secondary-icon;
    position: absolute;
    top: 90px;
    right: 25px;
  }

  .navbar {
    position: fixed;
    z-index: 1;
    top: 0px;
    background: $blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;

    .navbar__logo {
      font-weight: bolder;
      font-size: 40px;
      color: $white;
      font-weight: bold;
    }

    .navbar__menu {
      font-size: 20px;
      color: $white;
      font-weight: bold;
      display: flex;
      align-items: center;

      .navbar__search {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 30px;
        position: relative;

        input {
          padding: 5px 10px;
          font-size: 18px;
          border: none;
          border-radius: 15px;
        }

        .navbar__search-btn {
          position: absolute;
          right: 8px;
          z-index: 3;
          width: 20px;
          height: 20px;
          cursor: pointer;
          &:hover {
            path {
              fill: $blue;
            }
          }

          path {
            fill: $grey;
          }
        }
      }

      .navbar__user-item {
        position: relative;
        cursor: pointer;

        .navbar__user-icon {
          @extend %main-icon;
          margin-left: 30px;
        }

        .navbar__user-menu-item {
          position: absolute;
          right: 0;
          bottom: -65px;

          .navbar__logout-icon {
            @extend %main-icon;
          }

          svg {
            width: 25px;
            height: 25px;

            path {
              fill: $white;
            }
          }
        }
      }

      &-item-divider {
        width: 1px;
        height: 30px;
        background: $white;
      }

      &-item {
        display: block;
        padding: 10px 20px;
        margin: 5px 10px;
        width: max-content;

        &.active {
          color: $red;
        }

        &:hover {
          background: $red;
          color: $white;
        }
      }
    }
  }
}

@media (max-width: 928px) {
  .header {
    .navbar {
      .navbar__logo {
        // font-size: 30px;
      }
    }
  }
}
