@import "../../vars";

.header {
  z-index: 10;
  .header * {
    @extend %unchooseable;
  }

  &__slider-state-btn {
    @extend %secondary-icon;
    position: absolute;
    top: 90px;
    right: 25px;
    z-index: 11;
  }

  &__slider-state-btn.islogout {
    top: 140px;
  }

  .navbar {
    position: fixed;
    z-index: 11;
    top: 0px;
    background: $blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;

    .navbar__menu-icon {
      position: absolute;
      width: 20px;
      height: 20px;
      cursor: pointer;
      top: 20px;
      right: 30px;

      &:hover {
        path {
          fill: $red;
        }
      }

      path {
        fill: $grey;
      }
    }

    .navbar__logo {
      @extend %unchooseable;
      font-weight: bolder;
      font-size: 40px;
      color: $white;
      font-weight: bold;
    }
  }
}

@media (max-width: 700px) {
  .header {
    &__slider-state-btn {
      top: 70px;
    }
    .navbar {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: max-content max-content;
      justify-items: center;
      padding: 5px;
    }
  }
}

@media (max-width: 375px) {
  .header {
    .navbar {
      .navbar__logo {
        font-size: 30px;
      }
      .navbar__menu-icon {
        right: 5px;
        top: 15px;
      }
    }

    &__slider-state-btn {
      right: 10px;
    }
  }
}
