.header__navbar {
  position: fixed;
  z-index: 1;
  top: 0px;
  background: rgb(72, 62, 158);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__logo {
    font-weight: bolder;
    font-size: 40px;
    color: aliceblue;
    padding: 15px 30px;
  }

  .header__menu {
    color: aliceblue;
    display: flex;
    &-item {
      display: block;
      padding: 15px 30px;

      &:hover {
        background: coral;
      }
    }
  }
}
