.header__navbar {
  position: fixed;
  z-index: 1;
  top: 0px;
  background: #000b29;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__logo {
    font-weight: bolder;
    font-size: 40px;
    padding: 15px 30px;
    color: #f8f5f2;
    font-weight: bold;
  }

  .header__menu {
    font-size: 20px;
    color: #f8f5f2;
    font-weight: bold;
    display: flex;
    &-item {
      display: block;
      padding: 15px 30px;

      &:hover {
        background: #d70026;
        color: #f8f5f2;
      }
    }
  }
}
