.content {
  padding: 100px 50px;

  &__container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: end;

    .content__item {
      width: 320px;
      height: 189px;
      padding: 10px;
      border-radius: 5px;
      border: 1px rgba($color: grey, $alpha: 0.3) solid;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      &--hovered {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 20%;
        background: #000b29;
        color: #f8f5f2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        border-radius: 5px;
      }

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .content__item-name {
        margin-top: 20px;
        text-align: center;
      }

      img {
        max-height: 100%;
        max-width: 100%;
        position: relative;
      }

      video {
        max-height: 100%;
        max-width: 100%;
      }

      .content__pic {
        width: 50px;
        height: 50px;
      }
    }
  }
}
