@import "../../vars";

.footer {
  background: $blue;
  color: $white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  grid-template-areas: ". p s";
  font-size: 12px;
  width: 100%;
  min-height: 7vh;
  position: fixed;
  bottom: 0px;

  p {
    justify-self: center;
    grid-area: p;
  }

  .socials {
    @extend %unchooseable;

    display: flex;
    justify-self: end;
    align-items: center;
    grid-area: s;
    margin: 0px 15px;

    p {
      font-size: 16px;
    }

    a.socials__item {
      display: block;
      margin-left: 10px;
      margin-bottom: -5px;

      svg {
        width: 25px;
        height: 25px;

        &:hover {
          path {
            fill: $red;
          }
        }

        path {
          fill: $white;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    min-height: 70px;
  }
}

@media (max-width: 700px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    height: max-content;
    grid-template-areas: "p s";
    padding: 20px;

    p {
      justify-self: center;
    }

    .socials {
      justify-self: center;
    }
  }
}

@media (max-width: 490px) {
  .footer {
    grid-template-areas: "s" "p";
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    grid-gap: 10px;
  }
}
