@import "../../../vars";

.contacts {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  color: $white;
  min-height: 93vh;
  padding-top: 100px;

  .contacts__info {
    display: flex;
    flex-direction: column;
    margin: 30px;

    .contacts__info-item {
      margin: 15px;

      a,
      p {
        line-height: 1.5;
      }

      a:hover {
        color: $red;
      }
    }
  }

  .contacts__map {
    height: 90%;
    align-self: center;
    margin: 0px 25px;
    z-index: 4;
    position: relative;
    overflow: hidden;

    iframe {
      z-index: 4;
      position: relative;
      // bottom: 0px;
      // left: 0px;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }
}

@media (max-width: 767px) {
  .contacts {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 500px;
    color: $white;
    min-height: 93vh;
    padding-top: 75px;

    .contacts__info {
      display: flex;
      flex-direction: column;
      margin: 0px 30px;

      .contacts__info-item {
        margin: 15px;

        a,
        p {
          line-height: 1.5;
        }

        a:hover {
          color: $red;
        }
      }
    }

    .contacts__map {
      height: 90%;
      align-self: center;
      margin: 0px 0px;
      padding: 20px;

      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }
}
