/* autoprefixer grid: autoplace */
@import "../../../vars";

.menu {
  @extend %unchooseable;
  font-size: 20px;
  color: $white;
  font-weight: bold;
  display: flex;
  align-items: center;
  z-index: 12;

  &.hidden {
    display: none;
  }

  .menu__item-divider {
    width: 1px;
    height: 30px;
    background: $white;
  }

  .menu__item {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    margin: 5px 10px;
    width: max-content;
    position: relative;

    &.active {
      color: $red;
    }

    &:hover {
      background: $red;
      color: $white;
    }

    &.hovered {
      background: $red;
      color: $white;
    }

    .submenu {
      background: $red;
      position: absolute;
      top: 100%;
      left: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 13;

      &.hidden {
        display: none;
      }

      .submenu__item-divider {
        width: 60%;
        height: 1px;
        background: $white;
        margin: auto;
      }

      .submenu__item {
        padding: 10px 0px;
        margin: 5px 0px;
        text-align: center;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  .menu__user {
    position: relative;
    cursor: pointer;

    .menu__user-icon {
      @extend %main-icon;
      margin-left: 30px;
    }

    .menu__user-menu {
      position: absolute;
      right: 0;
      bottom: -65px;

      .menu__logout-icon {
        @extend %main-icon;
      }

      svg {
        width: 25px;
        height: 25px;

        path {
          fill: $white;
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .menu {
    .menu__item {
      padding: 5px 10px;
      font-size: 14px;

      .submenu {
        .submenu__item {
          padding: 5px 10px;
        }
      }
    }

    .menu__user {
      .menu__user-icon {
        margin-left: 10px;
        height: 30px;
        width: 30px;
        font-size: 16px;
      }

      .menu__user-menu {
        bottom: -40px;

        .menu__logout-icon {
          margin-left: 10px;
          height: 30px;
          width: 30px;
          font-size: 16px;
        }
        svg {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
