.content__item-rating {
  display: flex;
  align-items: center;
  margin-left: 25%;

  .rating--personal {
    display: flex;

    p {
      font-size: 12px;
      padding: 0px 2px;
      transition: all 0.2s;
      cursor: pointer;
    }

    p.enabled {
      color: gold;
    }

    p.disabled {
      color: white;
    }
  }

  .rating--general {
    margin-left: 20px;
  }
}

.content__item-rating.hidden {
  display: none;
}
