@import "../../vars";

.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $blue;

  .auth__container {
    background: $white;

    .auth__nav {
      font-size: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      padding: 10px 20px;

      .auth__nav-item {
        padding: 10px 20px;

        &:hover {
          background: $red;
          color: $white;
        }
      }

      .active {
        border-bottom: 1px solid $red;
      }
    }

    .auth__forms {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .auth__form-part {
          margin: 10px 0px;

          input {
            padding: 5px 10px;
            font-size: 18px;
          }

          .auth__error-msg {
            color: $red;
            font-style: italic;
            font-size: 10px;
            text-transform: capitalize;
          }
        }

        #submit {
          @extend %btn;
          margin: 10px 0px 20px 0px;
        }
      }
    }
  }
}
